@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Meta</h1>
    <p> Teste de programação  por <b>Ricardo Carneiro</b></p>
    <p> Asp.net Razor utilizando API web</b></p>
</div>
